MONGODB_URI=

# Plan Pricing and Limits
PLAN_BASIS_PRICE=1
PLAN_BASIS_MINUTES=60
PLAN_BASIS_PPM=0.10

PLAN_PRO_PRICE=5
PLAN_PRO_MINUTES=1440
PLAN_PRO_PPM=0.05

PLAN_MAX_PRICE=20
PLAN_MAX_MINUTES=43200
PLAN_MAX_PPM=0.01